
@model HTTP_5212_RNA_Group4_HospitalProject.Models.DepartmentDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this Department?</h2>
<nav>
    <ul>
        <li><a href="/Department/List">Cancel</a></li>
        <li><a href="/Department/Edit/@Model.DepartmentID">Update</a></li>
    </ul>
</nav>
<h3>@Model.DepartmentName</h3>

<form action="/Department/Delete/@Model.DepartmentID" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>