@model HTTP_5212_RNA_Group4_HospitalProject.Models.ResearchDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h1>Delete @Model.ResearchName</h1>
<h2> Are sure you want to delete (@Model.ResearchName) details</h2>
<form action="/Research/Delete/@Model.ResearchID" method="POST">
    <input type="submit" value="Delete" />

</form>

