body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.pharmacies {
    width: 90%;
    margin: 0 auto;
}

.pharmacies__title {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #3A3A3A;
}

.pharmacies__wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    gap: 40px;
    margin: 25px auto;
    justify-content: center;
}

.pharmacies__item {
    flex: 1 0 auto;
    text-align: center;
    max-width: 410px;
    width: 100%;
}

.pharmacies__name, .prescriptions__name {
    margin: 19px 0;
    color: #3A3A3A;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    position: relative;
}
    
    .pForm__input--prescriptions {
        padding: 5px !important;
        max-width: 375px !important;
    }
    
    .prescriptions__name {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 25px 0;
    }

    .pharmacies__name::after {
        position: absolute;
        content: '';
        width: 60%;
        max-width: 130px;
        height: 4px;
        background: #3A3A3A;
        left: 50%;
        transform: translateX(-50%);
        bottom: -10px;
    }

.pharmacies__image {
    width: 100%;
    max-width: 350px;
    height: 220px;
    object-fit: cover;
    box-shadow: 0px 4px 10px rgba(111, 128, 143, 0.49);
    border-radius: 15px;
}

.pharmacies__new {
    text-align: center;
}

    .pharmacies__new a {
        font-family: 'Rubik', sans-serif;
        color: #3A3A3A;
        border-bottom: solid 4px #3A3A3A;
        padding-bottom: 5px;
        font-size: 18px;
    }

@media screen and (min-width: 600px) {
    .pharmacies__item {
        width: 33%;
    }
}

@media screen and (min-width: 768px) {
    .pharmacies {
        padding-top: 60px
    }

    .container {
        width: 100% !important;
        max-width: 1400px;
    }

    .pharmacies__wrapper {
        gap: 30px;
        margin: 60px 0;
    }
}

@media screen and (min-width: 992px) {
    .pharmacies {
        padding-top: 20px
    }
}

/* start of pharmacy details */
.pharmacy__hero {
  width: 100%;
  max-width: 1400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.pharmacy__hero::after {
  content: "";
  display: block;
  padding-bottom: min(70%, 550px);
}

.pharmacy__hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(0.55);
}

.pharmacy__hero h1 {
  color: white;
  font-family: "Rubik";
  font-size: 45px;
  text-align: center;
  line-height: 1.25;
}

.pharmacy__content {
  text-align: center;
  font-family: "Rubik", sans-serif;
  margin: 55px 0;
}

.pharmacy__staff { margin-top: 55px; }

.pharmacy__list {
  padding: 0;
  margin: 40px 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
}

.list__item {
  width: 70%;
  max-width: 300px;
  padding: 30px 20px;
  box-sizing: border-box;
  background-color: #FAFAFA;
  font-weight: bold;
  font-size: 19px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  box-shadow: 0px 4px 10px rgba(111, 128, 143, 0.49);
}

.list__item span {
  text-transform: capitalize;
}

.pharmacy__open, .pharmacy__close { text-transform: uppercase !important; }

.staff__line { display: none; }

.pharmacy__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.pharmacy__link--edit { color: black; }
.pharmacy__link--delete { color: rgb(243, 67, 67); }

@media screen and (min-width: 768px) {
.pharmacy__hero h1 {
  font-size: 72px;
  width: 70%;
  max-width: 1000px;
}
}
/* end of pharmacy details */

/* template form */
.pForm__title {
  font-family: "Rubik", sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.4;
}

.pForm {
  width: 90%;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 45px;
}

.pForm__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
}

.pForm__label {
  font-size: 21px;
  font-weight: bold;
  align-self: flex-start;
  color: #333;
  margin-bottom: 10px;
}

.pForm__input {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 4px 10px rgba(111, 128, 143, 0.49);
  max-width: 600px;
  font-size: 16px;
}

.pForm__wrapper--check {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.pForm__wrapper label {margin-right: 15px;}

.pharmacy__checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px !important;
}

.pharmacy__checked { margin-top: 4px; }

.pForm__submit {
  width: 150px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 15px;
  background: transparent;
  border: none;
  box-shadow: 0px 4px 10px rgba(111, 128, 143, 0.49);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: bold;
}