@model IEnumerable<HTTP_5212_RNA_Group4_HospitalProject.Models.ArticleDto>
@{
    ViewBag.Title = "List";
}

<div class="article_header">
    <h2>List of all articles</h2>
    <a href="/Article/AddArticle">New Article <i class="bi bi-plus-square"></i></a>
</div>

@foreach(var article in Model)
            {
    string imgUrl = "/Content/Images/Articles/" + article.ArticleID + "." + article.PicExtension;
    <div class="article_list_card">
        <img src="@imgUrl" width="100" />
        <span><a href="/Article/Details/@article.ArticleID">@article.ArticleTitle</a></span>
    </div>
            }

