
@model HTTP_5212_RNA_Group4_HospitalProject.Models.ViewModels.DetailsService
@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-7">
        
        <h2>@Model.SelectedService.ServiceName.ToUpper()</h2>
        <p>@Model.SelectedService.ServiceDescription</p>
        <p>@Model.SelectedService.ServiceImage</p>

        <div class="row">
            <div class="col-md-3"><a href="/Service/Edit/@Model.SelectedService.ServiceID">Edit</a></div>
            <div class="col-md-3"><a style="color:#ab2020;" href="/Service/DeleteConfirm/@Model.SelectedService.ServiceID">Delete</a></div>
        </div>
    </div>
</div>
