@model HTTP_5212_RNA_Group4_HospitalProject.Models.ViewModels.PrescriptionList  
@{
    ViewBag.Title = "List";
}

<section class="pharmacies">
    <h1 class="pharmacies__title">All Prescriptions</h1>
    <div class="pharmacies__wrapper">
        @foreach (var prescription in Model.Prescriptions)
        {
            <a class="pForm__input pForm__input--prescriptions" href="/prescription/details/@prescription.PrescriptionID">
                <h3 class="prescriptions__name">Patient: <span>@prescription.PatientName</span></h3>
                <h3 class="prescriptions__name">Pharmacy: <span>@prescription.PharmacyName</span></h3>
            </a>
        }
    </div>
    @if (Model.IsAdmin)
    {
        <div class="pharmacies__new">
            <a href="/Prescription/New">Add Prescription</a>
        </div>
    }
</section>

