@model HTTP_5212_RNA_Group4_HospitalProject.Models.ViewModels.PharmacyList
@{
    ViewBag.Title = "Pharmacies";
}

<main>
    <section class="pharmacies">
        <h1 class="pharmacies__title">All Pharmacies</h1>
        <div class="pharmacies__wrapper">
            @foreach (var Pharmacy in Model.Pharmacies)
            {
                <div class="pharmacies__item">
                    @{
                        string pic = "/Content/Images/Pharmacies/default.jpg";
                        string alt = "No Pharmacy Photo Provided";

                        if (Pharmacy.PharmacyHasPic)
                        {
                            pic = "/Content/Images/Pharmacies/" + Pharmacy.PharmacyID + "." + Pharmacy.PicExtension;
                            alt = "Photo of " + Pharmacy.PharmacyName + " Located at " + Pharmacy.PharmacyLocation;
                        }
                    }
                    <a href="/Pharmacy/Details/@Pharmacy.PharmacyID" class="pharmacies__link">
                        <img src="@pic" alt="@alt" class="pharmacies__image"/>
                        <h3 class="pharmacies__name">@Pharmacy.PharmacyName</h3>
                    </a>
                </div>
            }
        </div>
        @if (Model.IsAdmin)
        {
            <div class="pharmacies__new">
                <a href="/Pharmacy/New">Add Pharmacy</a>
            </div>
        }
    </section>
</main>