@model HTTP_5212_RNA_Group4_HospitalProject.Models.ViewModels.PharmacyList
@{
    ViewBag.Title = "Pharmacies";
}

<main>
    <div class="anime__wrapper">
        <div class="anime__icons">
            @foreach (var Pharmacy in Model.Pharmacies)
            {
                <div>
                    @{
                        string pic = "/Content/Images/Pharmacies/default.jpg";
                        string alt = "No Pharmacy Photo Provided";

                        if (Pharmacy.PharmacyHasPic)
                        {
                            pic = "/Content/Images/Pharmacies/" + Pharmacy.PharmacyID + "." + Pharmacy.PicExtension;
                            alt = "Photo of " + Pharmacy.PharmacyName + " Located at " + Pharmacy.PharmacyLocation;
                        }
                    }
                    <a href="/Pharmacy/Details/@Pharmacy.PharmacyID" class="anime__icon">
                        <img src="@pic" alt="@alt" />
                        <h3>@Pharmacy.PharmacyName</h3>
                    </a>
                </div>
            }
        </div>
        @if (Model.IsAdmin)
        {
            <a href="/Pharmacy/New">New Animal</a>
        }
    </div>
</main>